.venv
.venv_parakeet
video
segments
clips
Diarization_Results
mp4
Subtitle
wav
mfcc
tempsegments
V1DataSet
V1.1DataSet
V1.2DataSet
V1.3DataSet     
V0DataSet
V1DataSetClean
V0.13DataSet
V0.12DataSet
V0.11DataSet
V0.10DataSet
V0.9DataSet
V0.8DataSet
V0.7DataSet
V0.6DataSet
V0.5DataSet
V0.3DataSet
V0.2DataSet
.whisperx-env
temp_frames
tempsegment
test
transcription_results.csv
diarization_results.csv
V0.7DataSet/AU
test_crisperwhisper
test_distillarge
test_fb_wav2vec2
TalkNet-ASD/


/OpenFace/output
/NemoDiarization/model/diar_sortformer_4spk-v1.nemo
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Virtual environment
venv/
env/

# IDE specific files
.vscode/
.idea/

# Compiled Python files
*.pyc

# Logs
*.log

# Miscellaneous
.DS_Store
Archives/NemoDiarization/model/diar_sortformer_4spk-v1.nemo
TitaNet-LargeDiarization/input/
TitaNet-LargeDiarization/output/
PyannoteDiarizationV2.1/input/
PyannoteDiarizationV2.1/output/

.pyannoteGPU